/*
  SCSS Mixin
  ==========
  Provides setting font-face to page

  Author: Igor Timohin (timohin.i@gmail.com)

 - *$font-family:* The font family of the font.
 - *$font-group:* The font family group, e.g. roboto, dinpro, ptsans.
 - *$font-style:* The  part of path to font file, NOT the font-style
   CSS property.
 - *$file-name:* The name of your file (all formats of this style need
   to have the same file name) without its extention.

  **EXAMPLE**

  @include font-face($font-family, $font-group, $font-style, $file-name, $font-weight)

  @include font-face('Roboto-Regular', roboto, regular, roboto-regular-webfont);
*/
@mixin font-face($font-family, $font-group, $font-style, $file-name) {
  $file-path: "../fonts/" + $font-group + "/" + $font-style + "/" + $file-name;
  @font-face {
    font-family: $font-family;
    src: url('#{$file-path}.eot'),local($font-family);
    src:
            url('#{$file-path}.eot?#iefix') format('embedded-opentype'),local($font-family),
            url('#{$file-path}.woff') format('woff'),
            url('#{$file-path}.ttf') format('truetype'),
            url('#{$file-path}.svg##{$font-family}') format('svg');
  }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
      font-family: $font-family;
      src: url('#{$file-path}.svg##{$font-family}') format('svg');
    }
  }
}

/*
  SCSS Mixin
  ==========
  Provides set font-family to selector

  - *$font-family:* The font family of the font.
  - *$font-style:* The font-style CSS property.
  - *$file-weight:* The font-weight CSS property.
  - *$font-callback:* The font callback, e.g. sans-serif

  **EXAMPLE**

  @include font-family($font-family, $font-weight, $font-style)

  @include font-family('Roboto-Regular', normal, italic);
*/
@mixin font-family($font-family, $font-weight:normal, $font-style:normal, $font-callback:sans-serif) {
  font-family: $font-family, $font-callback;
  font-weight: $font-weight; font-style: $font-style;
}