//- @pugdoc
  name: Main template
  description: template for pages

doctype
html(lang='ru', prefix='og: http://ogp.me/ns#')

  include ../components/_head.pug

  body
  .page-container
    include ../components/_aside-nav.pug
    .main-contant
      block content


    include ../components/_footer.pug

    script(src='js/script.min.js')

