include ../../abstracts/bemto/bemto.pug

//Распсиание группы

+b.group-schedule
  +e.accordion
    +e.box
      +e.H3.title.--close.bold Блок №1. Digital-стратегия.
      +e.table(style="display: block")
        +e.row
          +e.number
            p.bold №
          +e.subject
            p.bold Занятие
          +e.date
            p.bold Дата
          +e.time
            p.bold Время
          +e.teacher
            p.bold Преподаватель
        +e.row
          +e.number
            p 1
          +e.subject
            p Разработка digital-стратегии Разработка digital-стратегии Разработка digital-стратегии
          +e.date
            p 21.02.2017, пт
          +e.time
            p 19.00 - 22.00
          +e.teacher
            p Яна Францук
        +e.row
          +e.number
            p 1
          +e.subject
            p Разработка digital-стратегии
          +e.date
            p 21.02.2017, пт
          +e.time
            p 19.00 - 22.00
          +e.teacher
            p Яна Францук
        +e.row
          +e.number
            p 1
          +e.subject
            p Разработка digital-стратегии
          +e.date
            p 21.02.2017, пт
          +e.time
            p 19.00 - 22.00
          +e.teacher
            p Яна Францук
             <br> Яна Францук
        +e.row
          +e.number
            p 1
          +e.subject
            p Разработка digital-стратегии
          +e.date
            p 21.02.2017, пт
          +e.time
            p 19.00 - 22.00
          +e.teacher
            p Максим Володин
              <br> Виктория Егоренко
    +e.box
      +e.H3.title.--close.bold Блок №1. Digital-стратегия. Digital-стратегия.
      +e.table
        +e.row
          +e.number
            p.bold №
          +e.subject
            p.bold Занятие
          +e.date
            p.bold Дата
          +e.time
            p.bold Время
          +e.teacher
            p.bold Преподаватель
        +e.row
          +e.number
            p 1
          +e.subject
            p Разработка digital-стратегии Разработка digital-стратегии Разработка digital-стратегии
          +e.date
            p 21.02.2017, пт
          +e.time
            p 19.00 - 22.00
          +e.teacher
            p Яна Францук
        +e.row
          +e.number
            p 1
          +e.subject
            p Разработка digital-стратегии
          +e.date
            p 21.02.2017, пт
          +e.time
            p 19.00 - 22.00
          +e.teacher
            p Яна Францук
        +e.row
          +e.number
            p 1
          +e.subject
            p Разработка digital-стратегии
          +e.date
            p 21.02.2017, пт
          +e.time
            p 19.00 - 22.00
          +e.teacher
            p Яна Францук
             <br> Яна Францук
        +e.row
          +e.number
            p 1
          +e.subject
            p Разработка digital-стратегии
          +e.date
            p 21.02.2017, пт
          +e.time
            p 19.00 - 22.00
          +e.teacher
            p Максим Володин
              <br> Виктория Егоренко
    +e.box
      +e.H3.title.--close.bold Блок №1. Digital-стратегия.
      +e.table
        +e.row
          +e.number
            p.bold №
          +e.subject
            p.bold Занятие
          +e.date
            p.bold Дата
          +e.time
            p.bold Время
          +e.teacher
            p.bold Преподаватель
        +e.row
          +e.number
            p 1
          +e.subject
            p Разработка digital-стратегии Разработка digital-стратегии Разработка digital-стратегии
          +e.date
            p 21.02.2017, пт
          +e.time
            p 19.00 - 22.00
          +e.teacher
            p Яна Францук
        +e.row
          +e.number
            p 2
          +e.subject
            p Разработка digital-стратегии
          +e.date
            p 21.02.2017, пт
          +e.time
            p 19.00 - 22.00
          +e.teacher
            p Яна Францук
        +e.row
          +e.number
            p 3
          +e.subject
            p Разработка digital-стратегии
          +e.date
            p 21.02.2017, пт
          +e.time
            p 19.00 - 22.00
          +e.teacher
            p Яна Францук
             <br> Яна Францук
        +e.row
          +e.number
            p 1
          +e.subject
            p Разработка digital-стратегии
          +e.date
            p 21.02.2017, пт
          +e.time
            p 19.00 - 22.00
          +e.teacher
            p Максим Володин
              <br> Виктория Егоренко