//Точка входа

.entrance {
  background-color: $dark-grey;
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  // align-content: center;
  flex-direction: column;
  text-align: center;
  position: fixed;
  overflow: auto;
  input {
    display: inline-block;
    background-color: $dark-grey;
    color: $white;
    border: 1px solid $darkest-grey;
  }
  &__warning-inner {
    height: 50px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    position: relative;
    color: $dark-orange;
    align-self: center;
    &:before {
      content: '!';
      font-size: 30px;
      position: absolute;
    }
    p {
      margin: 0;
    }
  }
  &__inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  &__form {
    max-width: 250px;
    height: 100%;
    text-align: center;
  }
  &--white {
    color: $white;
    margin: 0;
  }
  &__recover {
    display: block;
    color: $white;
    text-decoration: underline;
  }
  &__input-inner {
    position: relative;
    margin: 15px 0;
    z-index: 10;
    &:nth-of-type(2) {
      margin-bottom: 5px;
    }
    &:before {
    position: absolute;
    content: '';
    height: 32px;
    width: 40px;
    border-radius: 4px 0 0 4px ;
    background-color: $darkest-grey;
    left: 1px;
    top: 1px;
    background-repeat: no-repeat;
    }
    &:after {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      left: 4%;
    }
    &--login {
      &:after {
        background-image: url(../img/login.png);
        height: 21px;
        width: 23px;
        top: 20%;
      }
    }
    &--password {
      &:after {
        background-image: url(../img/password.png);
        height: 25px;
        width: 23px;
        top: 12%;
      }
    }
  }

  &__login,
  &__password {
    padding-left: 50px;
    &--error {
      border-color: $dark-orange;
    }
  }

  &__password--icon {
    &:before {
      background-image: url(../img/password.png);
      height: 25px;
      width: 23px;
      top: 12%;
    }
  }

  &__recover {
    font-size: $fz-small;
    text-decoration: underline;
    float: right;
    &:hover {
      color: $light-grey;
    }
  }
}


.entrance .entrance__login.has-error,
.entrance .entrance__password.has-error{
  border: 1px solid $dark-orange;
}

.has-error {
  input {
    border: 1px solid $dark-orange;
  }
  &:before {
    background-color: $dark-orange;
  }
}