//Task

.task {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  &__wrapper {
    flex: 0 0 50%;
    border-left: 1px solid #dcdcdc;
    min-height: 220px;
  }
  &__inner {
    padding-right: 25px;
  }
  &__title {
    background-color: #e8e8e8;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  &__list {
    padding: 0;
  }
  &__link {
    display: inline-block;
    padding-right: 30px;
    &--active {
      .task__item {
        color: $black;
      }
    }
  }
  &__item {
    color: #999;
  }
  &__content-wrapper {
    padding: 10px 20px;
  }
}

.result,
.code,
.check {
    flex: 0 0 50%;
    border-left: 1px solid #dcdcdc;
    min-height: 220px;
  &__title {
    background-color: #e8e8e8;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  &__list {
    padding: 0;
  }
  &__link {
    display: inline-block;
    padding-right: 30px;
    &--active {
      .result__item,
      .code__item,
      .check__item {
        color: $black;
      }
    }
  }
  &__item {
    color: #999;
    span {
      color: $orange;
    }
  }
  &__content-wrapper {
    display: none;
    padding: 10px 20px;
    &--active {
      display: block;
    }
  }
}

.review {
  list-style-type: none;
  padding: 0;
  &__item {
    padding: 3px 25px;
    position: relative;
    &:before {
      position: absolute;
      content: '';
      left: 0;
      height: 10px;
      width: 10px;
      border-radius: 5px;
      background-color: #999;
      bottom: 9px;
    }
    &--active {
      &:before {
        background-color: #00a651;
      }
    }
  }
}

.task-header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  color: #999;
  &__wrapper {
    flex: 0 0 50%;
    padding-right: 40px;
  }
  &__btn-inner {
    flex: 0 0 35%;
    padding-left: 40px;
    display: flex;
    justify-content: flex-end;
  }
  &__inner {
    flex: 0 0 15%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
  }
  &__name {
    margin: 0;
    // padding-left: 10px;
  }
  &__points {
    padding-right: 5px;
    border-right: 1px solid #e8e8e8;
    margin-right: 5px;
    padding-left: 20px;
  }
}