include ../../abstracts/bemto/bemto.pug

//Задачи

+b.track-contant
  +e.wrapper--done
    +e.pin-box
      +e.pin
    +e.title-box
      +e.A.title(href="#") 1. Привести к информационному стилю
    +e.complexity-box
      +e.IMG.complexity(src="img/complexity.png" alt="сложность задния")
      +e.IMG.complexity(src="img/complexity.png" alt="сложность задния")
      +e.IMG.complexity(src="img/complexity.png" alt="сложность задния")
    +e.status-box
      +e.P.status Выполнено
    +e.comment-box
      +e.A.comment(href="#") 0
  +e.wrapper
    +e.pin-box
      +e.pin
    +e.title-box
      +e.A.title(href="#") 2. Привести к информационному стилю. Привести к информационному стилю. Привести к информационному стилю. Привести к информационному стилю. Привести к информационному стилю. Привести к информационному стилю.
    +e.complexity-box
      +e.IMG.complexity(src="img/complexity.png" alt="сложность задния")
      +e.IMG.complexity(src="img/complexity.png" alt="сложность задния")
    +e.status-box
      +e.P.status На проверке
    +e.comment-box
      +e.A.comment(href="#") 0
  +e.wrapper--edit
    +e.pin-box
      +e.pin
    +e.title-box
      +e.A.title(href="#") 3. Привести к информационному стилю
    +e.complexity-box
      +e.IMG.complexity(src="img/complexity.png" alt="сложность задния")
    +e.status-box
      +e.P.status Есть правки
    +e.comment-box
      +e.A.comment--warning(href="#") 55
  +e.wrapper--passive
    +e.pin-box
      +e.pin
    +e.title-box
      +e.A.title(href="#") 4. Привести к информационному стилю
    +e.complexity-box
    +e.status-box
      +e.P.status Не выполнялось
    +e.comment-box
      +e.A.comment(href="#") 0
  +e.wrapper--progress
    +e.pin-box
      +e.pin
    +e.title-box
      +e.A.title(href="#") 5. Привести к информационному стилю
    +e.complexity-box
      +e.IMG.complexity(src="img/complexity.png" alt="сложность задния")
      +e.IMG.complexity(src="img/complexity.png" alt="сложность задния")
      +e.IMG.complexity(src="img/complexity.png" alt="сложность задния")
      +e.IMG.complexity(src="img/complexity.png" alt="сложность задния")
      +e.IMG.complexity(src="img/complexity.png" alt="сложность задния")
    +e.status-box
      +e.P.status Выполняется
    +e.comment-box
      +e.A.comment--warning(href="#") 4
