//------------------------------------------------------------------------------
//  Базовые стили
//------------------------------------------------------------------------------

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  margin: 0;
  background-color: $body-bg;
  color: $text-color;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
}

h1 {
  font-size: $fz-h1;
  font-weight: 400;
  margin-top: 0;
}

h2 {
  font-size: $fz-h2;
  font-weight: 400;
  margin-top: 0;
}

h3 {
  font-size: $fz-h3;
  font-weight: 400;
  margin-top: 0;
}

a {
  color: $link-color;
  text-decoration: none;
  font-size: $fz-btn;
  @include transition();
}

iframe {
  border: 1px solid $light-grey;
  border-radius: 5px;
}

p {
  font-size: $fz-task;
}

button {
  @include transition();
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

select {
  background: url(images/select.png) no-repeat transparent;
  background-position: 95% 50%;
  border-radius: 5px;
  margin-right: 2%;
  margin-bottom: 20px;
  width: 220px;
  height: 30px;
  outline: none;
  border-color: $light-grey;
  color: $grey;
}

select > option {
  background-color: transparent;
  border-color: $light-grey;
}

.small-text {
  font-size: $fz-small;
}

