//------------------------------------------------------------------------------
//  Базовые стили
//------------------------------------------------------------------------------

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  margin: 0;
  background-color: $body-bg;
  color: $text-color;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
}

h1 {
  font-size: $fz-h1;
  font-weight: 400;
  margin-top: 0;
}

h2 {
  font-size: $fz-h2;
  font-weight: 400;
  margin-top: 0;
}

h3 {
  font-size: $fz-h3;
  font-weight: 400;
  margin-top: 0;
}

h4 {
  font-size: $fz-h4;
  font-weight: 400;
  margin-top: 0;
}

a {
  color: $link-color;
  text-decoration: none;
  @include transition();
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

iframe {
  border: none;
  outline: none;
  // border: 1px solid $light-grey;
  // border-radius: 5px;
  width: calc(100% - 40px);
  height: 200px;
  margin: 10px 20px;
}

blockquote {
  font-size: 16px;
  position: relative;
  &:after {
    content: '';
    @include sprite($s-qoute-right);
    position: absolute;
    right: 5px;
    bottom: -12px;
  }
  &:before {
    content: '';
    @include sprite($s-qoute-right);
    position: absolute;
    left: -35px;
    top: -13px;
    transform: rotate(180deg);
  }
}

.author {
  text-align: right;
  font-size: 16px;
  font-style: italic;
  padding-right: 10%;
}

textarea {
  border: 1px solid $light-grey;
  border-radius: 5px;
  width: 100%;
  height: 150px; //пример, потом испарвить
  resize: none;
  padding: 5px;
  &:focus {
    border: 1px solid $orange;
    border-radius: 5px;
    outline: none;
  }
}

button {
  @include transition();
  outline: none;
  border: none;
  margin-left: 10px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.select-inner {
  width: 220px;
  height: 30px;
  background: url(../img/select-arrow.svg) no-repeat transparent;
  background-position: 95% 50%;
  position: relative;
  z-index: 100;
  font-size: 16px;
}

select {
  width: 100%;
  height: 30px;
  outline: none;
  color: $grey;
  border-radius: 5px;
  border-color: $light-grey;
  position: relative;
  z-index: 1;
  background: url(../img/select-arrow.svg) no-repeat transparent;
  background-position: 95% 50%;
  padding: 5px;
}

select > option {
  background-color: transparent;
  border-color: $light-grey;
}

input {
  outline-style: none;
  color: $grey;
  border-radius: 5px;
  border: 1px solid $light-grey;
  width: 100%;
  height: 34px;
  padding: 5px;
  &:focus {
    border: 1px solid $orange;
    border-radius: 5px;
    outline: none;
  }
}

input.error {
  border: 1px solid $dark-orange;
}

.error-message {
  color: $white;
  background-color: $dark-orange;
  display: inline-block;
  font-size: $fz-small;
  padding: 8px 10px;
  border-radius: 5px;
  margin-top: 25px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    border: 16px solid transparent;
    border-bottom: 13px solid $dark-orange;
    display: block;
    width: 0;
    height: 0;
    top: -28px;
    left: 12px;
  }
}

.search {
  position: relative;

  &__form {
    width: 100%;
    height: 34px;
    &:focus {
      .search_btn {
        background-color: $orange;
      }
    }
  }
  &__input {
    border-color: $light-grey;
    border-radius: 5px;
    @include transition();
    &:focus {
      border: 1px solid $orange;
      outline: none;
    }
    &:focus ~ .search__btn {
      background-color: $orange;
    }
  }

  &__btn {
    width: 50px;
    height: 34px;
    position: absolute;
    background-color: $grey;
    right: 0;
    top: 0;
    border-radius: 0 5px 5px 0;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.send {
  position: relative;
  &__form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
  &__input {
    flex: 0 0 65%;
  }
  &__btn {
    flex: 0 0 35%;
  }
}
.small-text {
  font-size: $fz-small;
}
