// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

@if $enable-grid-classes {
  .container {
    @include make-container();
    @include make-container-max-widths();
  }
}

// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.

@if $enable-grid-classes {
  .container-fluid {
    @include make-container();
  }
}

// Row
//
// Rows contain and clear the floats of your columns.

@if $enable-grid-classes {
  .row {
    @include make-row();
  }

  // Alignment for every column in row
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      &.row-#{$breakpoint}-top    { align-items: flex-start; }
      &.row-#{$breakpoint}-middle { align-items: center; }
      &.row-#{$breakpoint}-bottom { align-items: flex-end; }
      &.row-#{$breakpoint}-stretch { align-items: stretch; }
      &.row-#{$breakpoint}-baseline { align-items: baseline; }
      &.row-#{$breakpoint}-nowrap { flex-wrap: nowrap}
    }
  }
}

// Columns
//
// Common styles for small and large grid columns

@if $enable-grid-classes {
  @include make-grid-columns();

  // Column ordering
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      &.col-#{$breakpoint}-first { order: -1; }
      &.col-#{$breakpoint}-last  { order: 1; }
    }
  }

  // Alignment per column
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      &.col-#{$breakpoint}-top    { align-self: flex-start; }
      &.col-#{$breakpoint}-middle { align-self: center; }
      &.col-#{$breakpoint}-bottom { align-self: flex-end; }
      &.col-#{$breakpoint}-baseline { align-self: baseline; }
      &.col-#{$breakpoint}-stretch { align-self: stretch; }
    }
  }  
}


// Responsive visibility utilities

@each $bp in map-keys($grid-breakpoints) {
  .hidden-#{$bp} {
    @include media-breakpoint-up($bp) {
      display: none;
    }
  }
  .hidden-#{$bp}-down {
    @include media-breakpoint-down($bp) {
      display: none;
    }
  }
}

@each $bp in map-keys($grid-breakpoints) {
  .visible-#{$bp} {
    @include media-breakpoint-up($bp) {
      display: block;
    }
  }
  .visible-#{$bp}-down {
    @include media-breakpoint-down($bp) {
      display: block;
    }
  }
}


// Flex variation
//
// Custom styles for additional flex alignment options.

@each $breakpoint in map-keys($grid-breakpoints) {
  // Flex column reordering
  @include media-breakpoint-up($breakpoint) {
    .flex-#{$breakpoint}-first { order: -1; }
    .flex-#{$breakpoint}-last { order: 1; }
    .flex-#{$breakpoint}-unordered { order: 0; }
  }

  // Alignment for every item
  @include media-breakpoint-up($breakpoint) {
    .flex-items-#{$breakpoint}-top { align-items: flex-start; }
    .flex-items-#{$breakpoint}-middle { align-items: center; }
    .flex-items-#{$breakpoint}-bottom { align-items: flex-end; }
  }

  // Alignment per item
  @include media-breakpoint-up($breakpoint) {
    .flex-#{$breakpoint}-top   { align-self: flex-start; }
    .flex-#{$breakpoint}-middle { align-self: center; }
    .flex-#{$breakpoint}-bottom { align-self: flex-end; }
  }

  // Horizontal alignment of item
  @include media-breakpoint-up($breakpoint) {
    .flex-items-#{$breakpoint}-left { justify-content: flex-start; }
    .flex-items-#{$breakpoint}-center { justify-content: center; }
    .flex-items-#{$breakpoint}-right { justify-content: flex-end; }
    .flex-items-#{$breakpoint}-around { justify-content: space-around; }
    .flex-items-#{$breakpoint}-between { justify-content: space-between; }
  }
}

