/*
  Project variables
  =================
*/


/*
  Flex Sass grid generator variables
  ==================================

  [flex-sass-grid-generator](https://github.com/Enkil/flex-sass-grid-generator)

*/

$base-font-size:              16px;
$grid-columns:                12 !default;
$grid-gutter-width:           20px !default;

$screen-xs:                   0; // Extra small screen / phone
$screen-sm:                   480px; // Small screen / phone
$screen-md:                   700px; // Medium screen / tablet
$screen-lg:                   950px; // Large screen / desktop
$screen-xl:                   1180px; // Extra large screen / wide desktop
//$screen-xxl:                  1890px; // Super large screen / extra wide desktop

$container-max-widths: (
        sm:                   480px,
        md:                   700px,
        lg:                   950px,
        xl:                   1180px
) !default;


$grid-breakpoints: (
        xs:                   0,
        sm:                   540px,
        md:                   768px,
        lg:                   1024px,
        xl:                   1280px
) !default;

/*
  Sass MQ variables
  =================

  [sass-mq](https://github.com/sass-mq/sass-mq)
*/

$mq-breakpoints: (
        xs:                   0px,
        sm:                   540px,
        md:                   768px,
        lg:                   1024px,
        xl:                   1280px
) !default;



//------------------------------------------------------------------------------
//  Colors
//------------------------------------------------------------------------------


// Color table

$white:                       #ffffff;
$black:                       #000000;

$orange:                      #ff9600;
$orange-hover:                #d77e00;
$dark-orange:                 #d4521b;
$dark-orange-hover:           #b14417;
$grey:                        #494949;
$lightest-grey:               #e6e5e5;
$light-grey:                  #dcdcdc;
$lightest-grey:               #dcdcdc;
$light-grey:                  #aaabae;
$dark-grey:                   #303641;
$darkest-grey:                #959595;
$dark-blue:                   #303641;
$pink:                        #d0365c;


// Colors in use

$body-bg:                     $white;
$text-color:                  $black;
$link-color:                  $black;

//------------------------------------------------------------------------------
//  Typography
//------------------------------------------------------------------------------


$font-family: 'PT Sans', sans-serif;

$font-size:                   14px;
// $fz-task:                     14px;
// $fz-btn:                      14px;
$fz-h1:                       30px;
$fz-h2:                       24px;
$fz-h3:                       20px;
$fz-h4:                       16px;
$fz-small:                    12px;

$line-height:                 1.5;






