include ../abstracts/bemto/bemto.pug

//Точка входа

+b.entrance
  .container
    +e.inner
      h1.bold.entrance--white Вход в систему заданий
      +e.FORM.form
        +e.P.warning Пользователь заблокирован!
        +e.P.warning Обратитесь к куратору
        +e.input-inner
          +e.INPUT.login
          +e.SPAN.login--icon
        +e.input-inner
          +e.INPUT.password
          +e.SPAN.password--icon
        +e.A.recover(href="#") Восстановить пароль
        button.btn.btn--orange.btn--entrance Вход
        p.entrance--white Чтобы зарегистрироваться напишите вашему куратору.

