include ../abstracts/bemto/bemto.pug

//Список треков

+b.HEADER.track-header
  +e.wrapper
    h3.bold 4.Инфостиль
    +b.progress-bar
      +e.first-layer
        +e.second-layer(style="width: 46%")
  +e.wrapper
    form(action="" method="")
      select
        option 4.Инфостиль
        option 4.Инфостиль Инфостиль Инфостиль
        option 4.Инфостиль Инфостиль

+b.track-tabs
  +e.UL.list
    +e.LI.item--active
      +e.A.link(href="#track-tabs1") Задания
    +e.LI.item
      +e.A.link(href="#track-tabs2") Материалы
    +e.LI.item
      +e.A.link(href="#track-tabs3") Вопросы
  +e.contant
    +e.inner--active(id="track-tabs1")
      include track-tabs/_track-contant.pug
    .track-tabs__inner(id="track-tabs2")
      p Оно живое
    .track-tabs__inner(id="track-tabs3")
      p Да точно живое
