include ../abstracts/bemto/bemto.pug

// UI-kit

//BTN type

+b.btn
  .container
    .row
      .col-xs-12.col-md-3
        h1 Типы кнопок
      .col-xs-12.col-md-3
        h3 Акцентное
        +e.examlple-inner
          +b.btn--orange(href="#") Отправить на проверку
        +e.examlple-inner
          +b.btn--orange(href="#") Войти
      .col-xs-12.col-md-3
        h3 Обычное
        +e.examlple-inner
          +b.btn--border-orange(href="#") Запустить
        +e.examlple-inner
          +b.btn--border-orange(href="#") Редактировать
        +e.examlple-inner
          +b.btn--border-orange(href="#") Сохранить
      .col-xs-12.col-md-3
        h3 Отказ
        +e.examlple-inner
          +b.btn--dark-orange(href="#") Удалить
        +e.examlple-inner
          +b.btn--dark-orange(href="#") Отказаться

// BTN style

+b.btn
  .container
    .row
      .col-xs-12
        h1 Состояние кнопок
      .col-xs-12
        .row
          .col-xs-12.col-md-3
            +e.H3.title Акцентное
          .col-xs-12.col-md-3
            +e.examlple-inner
              +b.btn--orange(href="#") Войти
              +e.P Обычное состояние
          .col-xs-12.col-md-3
            +e.examlple-inner
              +b.btn--orange.--passive(href="#") Войти
              +e.P Неактивное состояние
          .col-xs-12.col-md-3
            +e.P состояния наведения нет, ибо на кнопку можно навести.
      .col-xs-12
        .row
          .col-xs-12.col-md-3
            +e.H3.title Обычное
          .col-xs-12.col-md-3
            +e.examlple-inner
              +b.btn--border-orange(href="#") Запустить
              +e.P Обычное состояние
          .col-xs-12.col-md-3
            +e.examlple-inner
              +b.btn--border-orange.--passive(href="#") Запустить
              +e.P Неактивное состояние
          .col-xs-12.col-md-3
            +e.P состояния наведения нет, ибо на кнопку можно навести.
      .col-xs-12
        .row
          .col-xs-12.col-md-3
            +e.H3.title Отказ
          .col-xs-12.col-md-3
            +e.examlple-inner
              +b.btn--dark-orange(href="#") Удалить
              +e.P Обычное состояние
          .col-xs-12.col-md-3
            +e.examlple-inner
              +b.btn--dark-orange.--passive(href="#") Удалить
              +e.P Неактивное состояние
          .col-xs-12.col-md-3
            +e.P состояния наведения нет, ибо на кнопку можно навести.


// 2 blocks

+b.task
  .container
    .row
      .col-xs-12
        h1 Разделение на два блока
      .col-xs-12
        .flex-inner.flex-inner--right
          .btn-inner
            +b.btn--border-orange(href="#") Сохранить
          .btn-inner
            +b.btn--orange(href="#") Отправить на проверку
      .col-xs-12.col-md-6
        +e.inner
          h1 Заголовок
          p По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых клиентов недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
      .col-xs-12.col-md-6
        +e.inner
          p Любой текст
          p Любой текст
          form
            textarea
          p.small-text вставьте ссылку на задание в поле ввода


// 3 blocks

+b.task
  .container
    .row
      .col-xs-12
        h1 Разделение на три блока
      .col-xs-12
        .flex-inner.flex-inner--right
          .btn-inner
            +b.btn--border-orange(href="#") Сохранить
          .btn-inner
            +b.btn--orange(href="#") Отправить на проверку
      .col-xs-12.col-md-4
        +e.inner
          h1 Заголовок
          p По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых клиентов недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
      .col-xs-12.col-md-4
        +e.inner
          p Любой текст
          p Абсолютно любой
          form
            textarea
          p.small-text вставьте ссылку на задание в поле ввода
      .col-xs-12.col-md-4
        +e.inner
          p Любой текст
          p Абсолютно любой
          form(action="" method="")
            select 1
              option one
              option one
              option one


// Progress bar

+b.progress-bar
  .container
    .row
      .col-xs-12
        h1 Прогресс бар
      .col-xs-12
        +e.first-layer
          +e.second-layer(style="width: 46%")
        p Рассказываю, как эта херь работает:  там два дива, один весь серый, второй оранжевый. Длинна оранжевого должна каким-то чудесным способом высчитываться в процентах, и инлайнить стиль (width: 46%). Что касается самой цифры, то у меня сейчас это псеводоэлент от серой полоски (верхней в дереве), позиция у нее такая же (width: 46%), то есть ей тоже нужно передавать, но уже в стили это самое значение, ибо я хз можно ли инлайнить стили для псевдоэтиментов. Но я могу подумать, как сделать это без псевдоэлимента.


// Text Fields

.container
  .row
    .col-xs-12
      h1 Поля ввода текста
    .col-xs-12.col-md-6
      .task-inner
        p тут что-то написано
        p Абсолютно любой
        form
          textarea(style="width: 80%")
        p.small-text 'вставьте ссылку на задание в поле ввода'
    .col-xs-12.col-md-6
      p По умолчанию (стили на тэгах)
      form
        input
      p Ошибка (стили на тэгах)
      form
        input(class="error")
        +b.error-message Пустое поле! Вставь ссылку!


// Drop-down list & Search

.container
  .row
    .col-xs-12.col-md-6
      h1 Выпадающий спсиок
      form(action="" method="")
        select 1
          option one
          option one
          option one
    .col-xs-12.col-md-6
      h1 Поиск
      +b.search
        +e.FORM.form
          +e.INPUT.input
          +e.BUTTON.btn(type="submit")
      p Непонятная хрень с кнопокой *уй
      +b.send
        +e.FORM.form
          +e.INPUT.input
          +e.BUTTON.btn(type="submit" class="btn btn--orange") Отправить на проверку


//Text Styles

.container
  .row
    .col-xs-12.col-md-6
      h1 Столбик раз
      h1 Заголовок первого уровня
      h1(class="bold") Заголовок первого уровня
      h1(class="italic") Заголовок первого уровня
      br
      h2 Заголовок второго уровня
      h2(class="bold") Заголовок второго уровня
      h2(class="italic") Заголовок второго уровня
      br
      h3 Заголовок третьего уровня
      h3(class="bold") Заголовок третьего уровня
      h3(class="italic") Заголовок третьего уровня
    .col-xs-12.col-md-6
      h1 Столбик два
      h4 Заголовок четверго уровня
      h4(class="bold") Заголовок четверго уровня
      h4(class="italic") Заголовок четверго уровня
      br
      p По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых клиентов
      p(class="bold") По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых клиентов
      p(class="italic") По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых клиентов
      br
      blockquote Красивая цитата. Много любого текста. По своей сути рыбатекст является альтернативой традиционному тексту. Красивая цитата. Много любого текста. По своей сути рыбатекст является альтернативой традиционному тексту
      +b.author Вася Пупкин