<!-- Aside Nav-->
<nav class="aside-nav aside-nav__inner">
  <header class="aside-nav__header">
    <a class="aside-nav__hamburger" href="#">
      <span></span>
    </a>
    <h1 class="aside-nav__title">
      <a href="#">Do.Epixx</a>
    </h1>
  </header>
  <div class="aside-nav__inner aside-nav__inner--tracks">
    <ul class="aside-nav__list">
      <li class="aside-nav__item aside-nav__item--warning">
        <a class="aside-nav__link" href="#">
          <span class="aside-nav__track-name">Веб-дизайн</span>
        </a>
        <ul class="aside-nav__sub-list">
          <li class="aside-nav__sub-item">
            <a class="aside-nav__sub-link" href="#">
              <span>Задачи</span>
            </a>
          </li>
          <li class="aside-nav__sub-item">
            <a class="aside-nav__sub-link" href="#">
              <span>Правки</span>
            </a>
          </li>
          <li class="aside-nav__sub-item">
            <a class="aside-nav__sub-link" href="#">
              <span>Занятия</span>
            </a>
          </li>
          <li class="aside-nav__sub-item">
            <a class="aside-nav__sub-link" href="#">
              <span>Тьютор</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="aside-nav__item">
        <a class="aside-nav__link" href="#">
          <span class="aside-nav__track-name aside-nav__track-name--active">HTML+CSS</span>
        </a>
        <ul class="aside-nav__sub-list">
          <li class="aside-nav__sub-item">
            <a class="aside-nav__sub-link" href="#">
              <span>Задачи</span>
            </a>
          </li>
          <li class="aside-nav__sub-item">
            <a class="aside-nav__sub-link" href="#">
              <span>Правки</span>
            </a>
          </li>
          <li class="aside-nav__sub-item">
            <a class="aside-nav__sub-link" href="#">
              <span>Занятия</span>
            </a>
          </li>
          <li class="aside-nav__sub-item">
            <a class="aside-nav__sub-link" href="#">
              <span>Тьютор</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="aside-nav__inner">
    <ul class="aside-nav__list">
      <li class="aside-nav__item">
        <a class="aside-nav__link" href="#">
          <span class="aside-nav__name">Календарь</span>
        </a>
      </li>
      <li class="aside-nav__item">
        <a class="aside-nav__link" href="#">
          <span class="aside-nav__name">Команда</span>
        </a>
      </li>
      <li class="aside-nav__item">
        <a class="aside-nav__link" href="#">
          <span class="aside-nav__name">Настройки</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="aside-nav__inner aside-nav__inner--bottom">
    <ul class="aside-nav__list">
      <li class="aside-nav__item">
        <a class="aside-nav__link" href="#">
          <span class="aside-nav__name">Профиль</span>
        </a>
      </li>
      <li class="aside-nav__item">
        <a class="aside-nav__link" href="#">
          <span class="aside-nav__name">Выход</span>
        </a>
      </li>
    </ul>
  </div>
</nav>