<!--Страница группы-->
<header class="group-page-header">
  <div class="group-page-header__wrapper">
    <h3 class="bold">Группа 314</h3>
    <p>Маркетинг</p>
  </div>
</header>
<div class="group-tabs">
  <ul class="group-tabs__list">
    <li class="group-tabs__item group-tabs__item--active">
      <a class="group-tabs__link" href="#group-tabs1">Занятия</a>
    </li>
    <li class="group-tabs__item">
      <a class="group-tabs__link" href="#group-tabs2">Задания</a>
    </li>
    <li class="group-tabs__item">
      <a class="group-tabs__link" href="#group-tabs3">Правки</a>
    </li>
    <li class="group-tabs__item">
      <a class="group-tabs__link" href="#group-tabs3">Тьютор</a>
    </li>
  </ul>
  <div class="group-tabs__contant">
    <div class="group-tabs__inner group-tabs__inner--active" id="group-tabs1">
      <!--Распсиание группы-->
      <div class="group-schedule">
        <div class="group-schedule__accordion">
          <div class="group-schedule__box">
            <h3 class="group-schedule__title group-schedule__title--close bold">Блок №1. Digital-стратегия.</h3>
            <div class="group-schedule__table" style="display: block">
              <div class="group-schedule__row">
                <div class="group-schedule__number">
                  <p class="bold">№</p>
                </div>
                <div class="group-schedule__subject">
                  <p class="bold">Занятие</p>
                </div>
                <div class="group-schedule__date">
                  <p class="bold">Дата</p>
                </div>
                <div class="group-schedule__time">
                  <p class="bold">Время</p>
                </div>
                <div class="group-schedule__teacher">
                  <p class="bold">Преподаватель</p>
                </div>
              </div>
              <div class="group-schedule__row">
                <div class="group-schedule__number">
                  <p>1</p>
                </div>
                <div class="group-schedule__subject">
                  <p>Разработка digital-стратегии Разработка digital-стратегии Разработка digital-стратегии</p>
                </div>
                <div class="group-schedule__date">
                  <p>21.02.2017, пт</p>
                </div>
                <div class="group-schedule__time">
                  <p>19.00 - 22.00</p>
                </div>
                <div class="group-schedule__teacher">
                  <p>Яна Францук</p>
                </div>
              </div>
              <div class="group-schedule__row">
                <div class="group-schedule__number">
                  <p>1</p>
                </div>
                <div class="group-schedule__subject">
                  <p>Разработка digital-стратегии</p>
                </div>
                <div class="group-schedule__date">
                  <p>21.02.2017, пт</p>
                </div>
                <div class="group-schedule__time">
                  <p>19.00 - 22.00</p>
                </div>
                <div class="group-schedule__teacher">
                  <p>Яна Францук</p>
                </div>
              </div>
              <div class="group-schedule__row">
                <div class="group-schedule__number">
                  <p>1</p>
                </div>
                <div class="group-schedule__subject">
                  <p>Разработка digital-стратегии</p>
                </div>
                <div class="group-schedule__date">
                  <p>21.02.2017, пт</p>
                </div>
                <div class="group-schedule__time">
                  <p>19.00 - 22.00</p>
                </div>
                <div class="group-schedule__teacher">
                  <p>Яна Францук
                    <br> Яна Францук</p>
                </div>
              </div>
              <div class="group-schedule__row">
                <div class="group-schedule__number">
                  <p>1</p>
                </div>
                <div class="group-schedule__subject">
                  <p>Разработка digital-стратегии</p>
                </div>
                <div class="group-schedule__date">
                  <p>21.02.2017, пт</p>
                </div>
                <div class="group-schedule__time">
                  <p>19.00 - 22.00</p>
                </div>
                <div class="group-schedule__teacher">
                  <p>Максим Володин
                    <br> Виктория Егоренко</p>
                </div>
              </div>
            </div>
          </div>
          <div class="group-schedule__box">
            <h3 class="group-schedule__title group-schedule__title--close bold">Блок №1. Digital-стратегия. Digital-стратегия.</h3>
            <div class="group-schedule__table">
              <div class="group-schedule__row">
                <div class="group-schedule__number">
                  <p class="bold">№</p>
                </div>
                <div class="group-schedule__subject">
                  <p class="bold">Занятие</p>
                </div>
                <div class="group-schedule__date">
                  <p class="bold">Дата</p>
                </div>
                <div class="group-schedule__time">
                  <p class="bold">Время</p>
                </div>
                <div class="group-schedule__teacher">
                  <p class="bold">Преподаватель</p>
                </div>
              </div>
              <div class="group-schedule__row">
                <div class="group-schedule__number">
                  <p>1</p>
                </div>
                <div class="group-schedule__subject">
                  <p>Разработка digital-стратегии Разработка digital-стратегии Разработка digital-стратегии</p>
                </div>
                <div class="group-schedule__date">
                  <p>21.02.2017, пт</p>
                </div>
                <div class="group-schedule__time">
                  <p>19.00 - 22.00</p>
                </div>
                <div class="group-schedule__teacher">
                  <p>Яна Францук</p>
                </div>
              </div>
              <div class="group-schedule__row">
                <div class="group-schedule__number">
                  <p>1</p>
                </div>
                <div class="group-schedule__subject">
                  <p>Разработка digital-стратегии</p>
                </div>
                <div class="group-schedule__date">
                  <p>21.02.2017, пт</p>
                </div>
                <div class="group-schedule__time">
                  <p>19.00 - 22.00</p>
                </div>
                <div class="group-schedule__teacher">
                  <p>Яна Францук</p>
                </div>
              </div>
              <div class="group-schedule__row">
                <div class="group-schedule__number">
                  <p>1</p>
                </div>
                <div class="group-schedule__subject">
                  <p>Разработка digital-стратегии</p>
                </div>
                <div class="group-schedule__date">
                  <p>21.02.2017, пт</p>
                </div>
                <div class="group-schedule__time">
                  <p>19.00 - 22.00</p>
                </div>
                <div class="group-schedule__teacher">
                  <p>Яна Францук
                    <br> Яна Францук</p>
                </div>
              </div>
              <div class="group-schedule__row">
                <div class="group-schedule__number">
                  <p>1</p>
                </div>
                <div class="group-schedule__subject">
                  <p>Разработка digital-стратегии</p>
                </div>
                <div class="group-schedule__date">
                  <p>21.02.2017, пт</p>
                </div>
                <div class="group-schedule__time">
                  <p>19.00 - 22.00</p>
                </div>
                <div class="group-schedule__teacher">
                  <p>Максим Володин
                    <br> Виктория Егоренко</p>
                </div>
              </div>
            </div>
          </div>
          <div class="group-schedule__box">
            <h3 class="group-schedule__title group-schedule__title--close bold">Блок №1. Digital-стратегия.</h3>
            <div class="group-schedule__table">
              <div class="group-schedule__row">
                <div class="group-schedule__number">
                  <p class="bold">№</p>
                </div>
                <div class="group-schedule__subject">
                  <p class="bold">Занятие</p>
                </div>
                <div class="group-schedule__date">
                  <p class="bold">Дата</p>
                </div>
                <div class="group-schedule__time">
                  <p class="bold">Время</p>
                </div>
                <div class="group-schedule__teacher">
                  <p class="bold">Преподаватель</p>
                </div>
              </div>
              <div class="group-schedule__row">
                <div class="group-schedule__number">
                  <p>1</p>
                </div>
                <div class="group-schedule__subject">
                  <p>Разработка digital-стратегии Разработка digital-стратегии Разработка digital-стратегии</p>
                </div>
                <div class="group-schedule__date">
                  <p>21.02.2017, пт</p>
                </div>
                <div class="group-schedule__time">
                  <p>19.00 - 22.00</p>
                </div>
                <div class="group-schedule__teacher">
                  <p>Яна Францук</p>
                </div>
              </div>
              <div class="group-schedule__row">
                <div class="group-schedule__number">
                  <p>2</p>
                </div>
                <div class="group-schedule__subject">
                  <p>Разработка digital-стратегии</p>
                </div>
                <div class="group-schedule__date">
                  <p>21.02.2017, пт</p>
                </div>
                <div class="group-schedule__time">
                  <p>19.00 - 22.00</p>
                </div>
                <div class="group-schedule__teacher">
                  <p>Яна Францук</p>
                </div>
              </div>
              <div class="group-schedule__row">
                <div class="group-schedule__number">
                  <p>3</p>
                </div>
                <div class="group-schedule__subject">
                  <p>Разработка digital-стратегии</p>
                </div>
                <div class="group-schedule__date">
                  <p>21.02.2017, пт</p>
                </div>
                <div class="group-schedule__time">
                  <p>19.00 - 22.00</p>
                </div>
                <div class="group-schedule__teacher">
                  <p>Яна Францук
                    <br> Яна Францук</p>
                </div>
              </div>
              <div class="group-schedule__row">
                <div class="group-schedule__number">
                  <p>1</p>
                </div>
                <div class="group-schedule__subject">
                  <p>Разработка digital-стратегии</p>
                </div>
                <div class="group-schedule__date">
                  <p>21.02.2017, пт</p>
                </div>
                <div class="group-schedule__time">
                  <p>19.00 - 22.00</p>
                </div>
                <div class="group-schedule__teacher">
                  <p>Максим Володин
                    <br> Виктория Егоренко</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="group-tabs__inner" id="group-tabs2">
      <p>Оно живое</p>
    </div>
    <div class="group-tabs__inner" id="group-tabs3">
      <p>Да точно живое</p>
    </div>
    <div class="group-tabs__inner" id="group-tabs4">
      <p>ня ня ня ня</p>
    </div>
  </div>
</div>