<!--Станица заданий-->
<header class="task-header">
  <div class="task-header__wrapper">
    <p class="task-header__name">5. Модульные сетки</p>
    <select>
      <option>2. Построить первую сетку</option>
      <option>3. Построить первую сетку</option>
      <option>4. Построить первую сетку</option>
      <option>5. Построить первую сетку</option>
    </select>
  </div>
  <div class="task-header__inner">
    <div class="task-header__points">4пт</div>
    <div class="task-header__status">Выполняется</div>
  </div>
  <div class="task-header__btn-inner">
    <a class="btn btn--border-orange" href="#">Сохранить</a>
    <a class="btn btn--orange" href="#">Отправить на проверку</a>
  </div>
</header>